
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding-left: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  text-align: center;
}

.banner h1 {
  min-height: 4rem;
  font-size: 4rem;
  margin-bottom: 20px;
}

.banner h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1) inset;
  margin-right: 100px;
}

.btn {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ddd; /* On hover */
}

.btn svg {
  color: #0e76a8; /* LinkedIn color */
}

.btn:nth-child(2) svg {
  color: #333; /* GitHub color */
}


.download-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.download-btn:hover {
  background-color: #0056b3;
}


@media only screen and (max-width: 430px) {
  /* Stack content vertically */
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    margin-top: 90px;
  }

  .banner {
    padding-right: 0;
    text-align: center;
  }

  .banner h1 {
    font-size: 2rem;
    width: 90%;
    margin: 0 auto 10px auto;
  }

  .banner h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .image-div {
    margin-bottom: 20px;
  }

  .image-div img {
    width: 250px;
    height: 250px;
    margin-right: 0;
  }
  .btn {
    margin: 5px;
  }

  .download-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
